
.container {
  width: 550px;
  margin: 40px auto;
}

.calculator {
  width: 100%;
  border-radius: 15px;
  padding-bottom: 25px;
  border: 2px solid grey;
  background-color: #c00025;
}

.logo-container {
  margin: 40px;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 auto;
  margin-top: 25px;
  height: 100px;
  width: 450px;
  border-radius: 50px;
  color: white;
  padding-right: 8%;
  font-size: 5.0rem;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  }
